<div id="<%= dom_id post %>">
  <%# #Question where user_path(post.user) came from where is the source of user_path(post.user) %>
  <h2>
    Posted by: 
    <%= link_to post.user.name, user_path(post.user) %>
  </h2>
  <p>
    <b>Title:</b>
    <%= post.title %>
    <h6>
      <%= pluralize(post.views, "view") %>
    </h6>
  </p>
  <p>
    <b>Body:</b>
    <%= post.body %>
  </p>
</div>
